html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.marginless {
  margin: 0;
}

.small-sup {
  font-size: 50%;
  vertical-align: super;
}

header:target {
  animation: highlight-pulse-bg 500ms ease-out;
}

article > header:target > h3 {
  animation: highlight-pulse-text 500ms ease-out;
}

article > header {
  & > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

@keyframes highlight-pulse-bg {
  from {
    background-color: var(--pico-card-sectioning-background-color);
  }
  50% {
    background-color: var(--pico-accordion-active-summary-color);
  }
  to {
    background-color: var(--pico-card-sectioning-background-color);
  }
}

@keyframes highlight-pulse-text {
  from {
    --pico-color: var(--pico-color);
  }
  50% {
    --pico-color: var(--pico-background-color);
  }
  to {
    --pico-color: var(--pico-color);
  }
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  gap: var(--pico-grid-column-gap);
}

.flex-responsive {
  display: flex;
  gap: var(--pico-grid-column-gap);
}

@media (max-width: 1024px) {
  .flex-responsive {
    flex-direction: column;
    gap: var(--pico-grid-row-gap);
  }
}

.bloglist-main {
  flex-grow: 1;
}

nav[aria-label="breadcrumb"] li {
  padding-top: 0;
}

nav[aria-label="breadcrumb"] li :where(a, [role="link"]):not(:hover) {
  text-decoration: var(--pico-text-decoration);
  text-decoration-color: var(--pico-underline);
  text-underline-offset: 0.125em;
}

ul.blog-sidebar {
  list-style-type: none;
  padding-left: 0;
}

ul.blog-sidebar li {
  list-style: none;
}

ul.blog-sidebar :where(a, [role="link"]):not(:hover) {
  text-decoration: none;
}

.no-underline :where(a, [role="link"]):not(:hover),
.no-underline:where(a, [role="link"]):not(:hover) {
  text-decoration: none;
}

.autolink-heading {
  position: relative;
}

.autolink-link {
  display: flex;
  align-items: center;
  height: 100%;

  position: absolute;
  top: 3px;
  left: -1.5em; /* -1em - paddin-left - padding-right */
  padding: 0 0.25em;

  opacity: 0;
  transition: opacity 0.2s;

  font-size: 0.625rem;
  text-decoration: none;
}

.autolink-link:not(:hover) {
  text-decoration: none;
}

.autolink-heading:hover .autolink-link {
  opacity: 1;
}

.icon-field {
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-size: 80%;
}

.icon-field :where(.fa, .fas, .fab) {
  font-size: 0.75em;
  margin-left: 0.2em;
  vertical-align: middle;
}

blockquote {
  padding: 0 var(--pico-spacing);
}

.footnotes {
  margin-top: calc(var(--pico-block-spacing-vertical) * 2);
  padding-top: var(--pico-block-spacing-vertical);
  border-top: var(--pico-border-width) solid var(--pico-muted-border-color);
}

/** Fix link behavior inside code blocks */
:where(a:not([role="button"])),
[role="link"] {
  code,
  kbd,
  pre {
    color: var(--pico-color);
    text-decoration: var(--pico-text-decoration);
    transition:
      background-color var(--pico-transition),
      color var(--pico-transition),
      text-decoration var(--pico-transition),
      box-shadow var(--pico-transition),
      -webkit-text-decoration var(--pico-transition);
  }
}

@media (min-width: 1280px) {
  .bloglist-main > article > section {
    padding: 0 var(--pico-spacing);
  }
}

.toc-section ol {
  ol,
  ul {
    margin-bottom: 0;
  }
}

.bloglist-main > article > section li > p:only-child {
  margin-bottom: 0;
}

.bloglist-main > article > section > ul {
  ul,
  ol {
    margin-bottom: 0;
  }
}

@media (min-width: 1536px) {
  .container {
    /* Value for 1280px breakpoint */
    max-width: 1200 !important;
  }
}

@media (min-width: 1280px) {
  :root {
    /* Value for 1024px breakpoint */
    --pico-font-size: 118.75% !important;
  }
}
@media (min-width: 1536px) {
  :root {
    /* Value for 1024px breakpoint */
    --pico-font-size: 118.75% !important;
  }
}

figure {
  margin-bottom: var(--pico-block-spacing-vertical);
  padding: var(--pico-block-spacing-vertical)
    var(--pico-block-spacing-horizontal);
  border-radius: var(--pico-border-radius);
  background: var(--pico-card-background-color);
  box-shadow: var(--pico-card-box-shadow);
}
figure > figcaption {
  margin-right: calc(var(--pico-block-spacing-horizontal) * -1);
  margin-left: calc(var(--pico-block-spacing-horizontal) * -1);
  padding: calc(var(--pico-block-spacing-vertical) * 0.66)
    var(--pico-block-spacing-horizontal);
  background-color: var(--pico-card-sectioning-background-color);
}
figure > figcaption {
  margin-top: var(--pico-block-spacing-vertical);
  margin-bottom: calc(var(--pico-block-spacing-vertical) * -1);
  border-top: var(--pico-border-width) solid var(--pico-card-border-color);
  border-bottom-right-radius: var(--pico-border-radius);
  border-bottom-left-radius: var(--pico-border-radius);
}

figure:has(> pre) {
  padding: 0;

  & > figcaption {
    margin: 0;
    background: var(--pico-card-background-color);
    padding: 0 var(--pico-block-spacing-horizontal)
      /* @hack Without this the inner content loses its bottom margins */
      calc(var(--pico-block-spacing-vertical) * 0.1)
      var(--pico-block-spacing-horizontal);
  }
}

:where(pre):not(figure > pre) {
  box-shadow: var(--pico-card-box-shadow);
}

@media (max-width: 575.99999px) {
  article {
    margin: 0 calc(var(--pico-block-spacing-horizontal) * -1)
      var(--pico-block-spacing-vertical);
  }

  figure {
    margin-left: calc(var(--pico-block-spacing-horizontal) * -1);
    margin-right: calc(var(--pico-block-spacing-horizontal) * -1);
  }

  :where(pre):not(figure > pre) {
    margin-left: calc(var(--pico-block-spacing-horizontal) * -1);
    margin-right: calc(var(--pico-block-spacing-horizontal) * -1);
  }
}

body {
  display: flex;
  flex-direction: column;

  > main {
    flex-grow: 1;
  }
}

pre > code {
  overflow: auto;
}
